body {
	text-align: center;
	font-family: "Open Sans";
	background: #e9e9e9;
	
	margin: auto;
	width: 800px;
	
}

html {
  scroll-behavior: smooth;
}

a {
	color: blue;
	text-decoration: none;
	border: 2px;
	border-color:#00e699;
	padding:5px;
}

#box1 {
	padding: 10px 0px 10px 0px;
  	background: white;

	width: 800px;
}

.logo {
	 padding-left: 500px;
}

.border {
	
	border-style: solid;
	border-color: blue;
	width: 10px;
	padding:5px;
	margin: auto;
	width:10%;
	text-align: center;
}

#box2 {
	padding: 10px 0px 10px 0px;

  	background: blue;

	color: white;
	width: 800px;	
}

#box2 a:link, #box2 a:visited {
    color: #00e699;
}

#box3 {
	padding: 10px 0px 10px 0px;
  	background: #00e699;

	width: 800px;
	
	
}

#box4 {
	padding: 10px 0px 10px 0px;
  	background: #a7ebd5;

	width: 800px;
	
	
}

#box5 {
	padding: 10px 0px 10px 0px;
  	background: black;
	color: white;
	width: 800px;
	
	
}

#yellow {
	color:yellow;
	
}

#box6 {
	padding: 10px 0px 10px 0px;
  	background: white;
	font-size:12px;
	width: 800px;
	
	
}

li {
	list-style-position: inside;
}

#left {
	
	float:left;
}

.logo {
	padding: 100px 10px 10px 10px;
	left: 200px;
	position: absolute;
}
